    <div class="footer">
        <div class="footer-sbvfgv">
            <div class="footer-1">
                <div class="footer-hbezs">
                    <div class="footer-srnxb">
                        <img src="/media/myImage-mini.png" alt="">
                    </div>
                    <div class="footer-nabzd">
                        <div class="footer-nzbdxc">
                            Sparsh gupta
                        </div>
                        <div class="footer-nzbdf">
                            Full stack web developer
                        </div>
                    </div>
                </div>
                <div class="footer-bunjt">
                    <div class="footer-social-media">
                        <a href="https://www.instagram.com/theguptasparsh/">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-social-media">
                        <a href="https://github.com/SparshGupta78">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-social-media">
                        <a href="https://www.linkedin.com/in/sparshgupta78/">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </div>
                    <div class="footer-social-media">
                        <a href="https://x.com/The_sparshgupta">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-2">
                <div class="footer-haegd">
                    Get in touch<span class="material-symbols-rounded">chevron_forward</span>
                </div>
                <div class="footer-bzdvsd">
                    <div>
                        <div>Email</div>
                        <a href="mailto:sparshgupta78970@gmail.com">
                            sparshgupta78970@gmail.com<span class="material-symbols-rounded">chevron_forward</span>
                        </a>
                    </div>
                    <div>
                        <div>Phone no</div>
                        <a href="tel:+917897038592">
                            7897038592<span class="material-symbols-rounded">chevron_forward</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bavfdz">
            <div class="footer-mtfvm">
                <div class="footer-link"><a href="/">Home</a></div>
                <div class="footer-link"><a href="/dashboard">Dashboard</a></div>
                <div class="footer-link"><a href="/create">Create</a></div>
                <div class="footer-link"><a href="/developer">About developer</a></div>
            </div>
            <div class="footer-jpinf">
                Code by Sparsh
            </div>
        </div>
    </div>

    <!-- ionic.io -->

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- scripts -->

    <% if (script.length > 0) { %>
        <% script.forEach((scr) => { %>
            <script src="/scripts/<%= scr %>.js"></script>
        <% }) %>
    <% } %>
    <script src="/scripts/primary.js"></script>
</body>
</html>