<%- include('./partials/header') %>
    <div class="main1">
        <div class="background-player">
            <video class="bg-video" src="media/background.mp4" type="video/mp4" autoplay muted loop playsinline></video>
        </div>
        <div class="main1-content">
            <span class="main1-title1 animate-block">Streamline Form Creation with Zero Coding</span>
            <span class="main1-title2 animate-block">Create, customize, and share forms in minutes with InputFlow. Perfect for surveys, registrations, feedback, and more — no coding required.</span>
        </div>
    </div>
<%- include('./partials/footer') %>