<%- include('./partials/header') %>
    <div class="not-login-cover">
        <div class="nl-3Qas2">
            <span class="material-symbols-rounded">no_accounts</span>
            <p>No login found</p>
        </div>
        <div class="nl-1ewba">
            <a href="/login">Login</a> to continue on this page.
        </div>
    </div>
<%- include('./partials/footer') %>