<%- include('./partials/header') %>
    <div class="main">
        <div class="main-fbws3">
            <div class="main-p1">404</div>
            <div class="main-p2">Page not found</div>
        </div>
        <div class="main-ihtq3w">
            <span>Look like you have lost!</span>
            <span>
                Get back to <a href="/dashboard">Dashboard</a>
            </span>
        </div>
    </div>
<%- include('./partials/footer') %>