<%- include('./partials/header') %>
    <div class="main">
        <div class="container">
            <div class="hxd-1">
                Your form has been submitted.
            </div>
            <div class="hxd-2">
                <a href="/view/<%= formId %>">Submit another response</a>
            </div>
        </div>
    </div>
<%- include('./partials/footer') %>