:root{
    --color-1: #212529;
    --color-2: #343a40;
    --color-3: #495057;
    --color-4: #6c757d;
    --color-5: #adb5bd;
    --color-6: #ced4da;
    --color-7: #dee2e6;
    --color-8: #e9ecef;
    --color-9: #f8f9fa;
    --bg-1: linear-gradient(51.2deg, var(--color-1), var(--color-2), var(--color-1));
    --box-shadow-1: 0 0 20px 1px rgba(0, 0, 0, 0.15);

}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'poppins', sans-serif;
    color: var(--color-9);
    box-sizing: border-box;
    transition: all 0.3s ease;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
}

::-webkit-scrollbar{
    display: none;
}

::selection {
  background-color: rgba(219, 219, 219, 0.5);
  color: var(--color-1);
}

.material-symbols-rounded{
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24;
  user-select: none;
}

/*Toggle button*/

.toggle-wrapper .toggle{
    display: none;
}

.toggle-wrapper .toggle-label{
    display: block;
    background-color: var(--color-3);
    width: 33px;
    height: 17px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-wrapper .toggle-label::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: var(--color-5);
    box-shadow: var(--box-shadow-1);
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
}

.toggle:checked + .toggle-label{
    background-color: var(--color-4);
}

.toggle:checked + .toggle-label::before{
    transform: translate(16px);
    background-color: var(--color-9);
    transition: all 0.2s ease-in-out;
}

/*Animate*/

.animate-block{
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.85s ease;
}

.animate-block-show{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.85s ease;
}

/*Loader*/

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s ease;
}

.loader.loader-show{
    opacity: 1;
    transition: all 0.5s ease;
}

.logo-cont-1{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 15px;
    scale: 0.5;
}

.logo-cont-2{
    width: 84px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-cont-3{
    height: 55px;
    width: 100%;
    display: flex;
}

.logo-cont-4{
    width: 65%;
    height: 100%;
}

.logo-cont-5{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.logo-cont-6{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: end;
}

.logo-cont-7{
    height: 93px;
    width: 100%;
    padding-top: 25px;
}

.loader-d-1, .loader-d-2, .loader-d-3, .loader-d-4, .loader-d-5{
    animation: fadeInOut 3s infinite ease-in-out;
    opacity: 1;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.loader-d-1{
    height: 100%;
    width: 221px;
    display: flex;
    flex-direction: column;
    animation-delay: 0s;
}

.loader-d-2{
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-8);
    border-radius: 5px;
    animation-delay: 0.6s;
}

.loader-d-3{
    height: 20px;
    aspect-ratio: 1/1;
    background-color: var(--color-4);
    border-radius: 5px;
    animation-delay: 1.2s;
}

.loader-d-4{
    height: 55px;
    width: 55px;
    background-color: var(--color-6);
    animation-delay: 1.8s;
    border-radius: 5px;
}

.loader-d-5{
    height: 20px;
    width: 20px;
    background-color: var(--color-2);
    border-radius: 5px;
    animation-delay: 2.4s;
}

.loader-d-6, .loader-d-8{
    width: calc(100% - 55px);
    height: 55px;
    background-color: var(--color-9);
    display: flex;
    scale: 1.015;
}

.loader-d-6{
    border-radius: 5px 5px 5px 0;
}

.loader-d-8{
    margin-left: 55px;
    border-radius: 5px 0 5px 5px;
}

.loader-d-7{
    width: 100%;
    height: calc(100% - 110px);
    display: flex;
    justify-content: space-between;
    scale: 1.015;
}

.loader-d-9, .loader-d-10{
    height: 100%;
    width: 55px;
    background-color: var(--color-9);
    display: flex;
}

.loader-d-9{
    border-radius: 0 0 5px 5px;
}

.loader-d-10{
    border-radius: 5px 5px 0 0;
}

.loader-2{
    width: 100%;
}

.loader-2 .loader-progress{
    font-size: 6em;
    font-weight: 600;
    line-height: 1em;
    color: var(--color-2);
}

/*Navbar*/

.navbar{
    padding: 5px 15px;
    width: 100%;
    height: 50px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
    background: transparent;
    transform: translateY(0);
}

.logo{
    font-size: 1.6rem;
}

.nav-links{
    padding: 5px 15px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.login-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.navbar .lsl a, .account-wrapper{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 0.9em;
}

.navbar .lsl a:hover{
    transform: translateY(-1px);
}

.navbar .lsl span, .account-wrapper span{
    font-size: 1.15rem;
    color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-open{
    display: none;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.nav-open::before, .nav-open::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--color-5);
    transition: transform 0.3s ease, top 0.3s ease;
    border-radius: 10px;
}

.nav-open::before {
    top: 5px;
}

.nav-open::after {
    bottom: 5px;
}

.nav-open span{
    font-size: 2em;
}

.nav-open.nav-open-active::before {
    transform: rotate(45deg);
    top: 50%;
}

.nav-open.nav-open-active::after {
    transform: rotate(-45deg);
    top: 50%;
}

.account-wrapper{
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 45px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.account-wrapper.account-btn-toggle{
    background-color: var(--color-3);
    box-shadow: var(--box-shadow-1);
}

.account-wrapper:hover{
    transform: translateY(-1px);
}

.account-container{
    padding: 15px;
    position: absolute;
    top: 55px;
    right: 15px;
    width: 300px;
    height: fit-content;
    background-color: var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: none;
}

.account-container.account-box-toggle{
    display: flex;
}

.account-container .account-info{
    width: 100%;
    display: flex;
    gap: 15px;
}

.account-container .account-info .account-dsiacs{
    aspect-ratio: 1/1;
    height: 100px;
    background-color: var(--color-3);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.account-container .account-info .account-dsiacs .account-dsiacs-person{
    font-size: 3em;
}

.account-edit{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: fit-content;
    border-radius: 100%;
}

.account-edit .account-edit-btn{
    font-size: 1.2em;
    padding: 7px;
    background-color: var(--color-4);
    border-radius: 100%;
}

.account-sdvuja{
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.account-logout a{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: var(--color-3);
    border-radius: 20px;
}

/*Mini Navbar*/

.navbar-mini{
    padding: 65px 15px 15px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    max-width: 450px;
    background: var(--color-1);
    z-index: 99;
    transform: translate(100%);
    transition: all 0.4s ease;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-mini.nav-active{
    transform: translate(0%);
    box-shadow: 0 0 70px 5px rgba(0, 0, 0, 0.5);
}

.navbar-mini.nav-active + .navbar{
    background-color: var(--color-2);
}

.nav-mini-sec-1{
    display: flex;
    flex-direction: column;
}

.nav-mini-sec-2{
    padding: 15px 10px;
    color: var(--color-4);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-info-mini{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 20px 0;
    position: relative;
}

.account-info-mini .account-dsiacs-mini{
    aspect-ratio: 1/1;
    height: 100px;
    background-color: var(--color-2);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.account-info-mini .account-dsiacs-mini .account-edit-mini{
    position: absolute;
    bottom: 0;
    right: 0;
    aspect-ratio: 1/1;
    width: fit-content;
    border-radius: 100%;
}

.account-info-mini .account-dsiacs-mini .account-edit-mini .account-edit-btn-mini{
    font-size: 1.2em;
    padding: 7px;
    background-color: var(--color-3);
    border-radius: 100%;
}

.account-info-mini .account-dsiacs-mini .account-dsiacs-mini-person{
    font-size: 3.5em;
    color: var(--color-5);
}

.account-sdvuja-mini{
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.account-logout-mini a{
    margin-top: 10px;
    width: 100%;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: var(--color-2);
    border-radius: 20px;
    font-size: 0.9em;
}

.account-logout-mini a span{
    font-size: 1.1em;
}

.account-vdnvd{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.account-vdnvd a{
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: var(--color-2);
    border-radius: 20px;
}

.account-vdnvd a span{
    font-size: 1.1em;
    color: var(--color-5);
}

.nav-links-mini{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links-mini a{
    background-color: var(--color-2);
    padding: 7px 10px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.nav-links-mini a div{
    font-size: 0.9em;
    display: flex;
    align-items: center;
    gap: 5px; 
}

.nav-links-mini a span{
    font-size: 1.5em;
    color: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-star {
    width: fit-content;
    height: fit-content;
    position: relative;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.border-star-bg {
    position: absolute;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    background-image : conic-gradient(from var(--angle), transparent 98%, var(--color-4));
    border-radius: 5px;
    z-index: 1;
    animation: border-star-ani 8s linear infinite;
}

@keyframes border-star-ani {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.border-star-content {
    position: relative;
    border-radius: 5px;
    z-index: 2;
}

@media screen and (max-width: 750px) {

    .nav-links, .login-signup, .account-wrapper{
        display: none;
    }
    
    .nav-open{
        display: flex;
    }

    .navbar-mini{
        display: flex;
    }

}

/*footer*/

.footer{
    padding: 50px 30px 0;
    background-color: var(--color-1);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.footer .footer-sbvfgv{
    border-top: 1px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
    display: flex;
    align-items: center;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

.footer-1{
    padding: 50px 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 900px) {
        width: 100%;
        padding: 50px 15px 20px 15px;
    }
}

.footer-1 .footer-hbezs{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-1 .footer-hbezs .footer-srnxb{
    width: 130px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background: radial-gradient(var(--color-2) 50%, var(--color-1));
    display: flex;
}

.footer-1 .footer-hbezs .footer-srnxb img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 100%;
}

.footer-1 .footer-hbezs .footer-nabzd{
    display: flex;
    flex-direction: column;
}

.footer-1 .footer-hbezs .footer-nabzd .footer-nzbdxc{
    font-size: 2em;
    font-weight: 500;
}

.footer-1 .footer-hbezs .footer-nabzd .footer-nzbdf{
    font-size: 1.2em;
    color: var(--color-5);
}

.footer-1 .footer-bunjt{
    display: flex;
    padding-top: 25px;
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
}

.footer-1 .footer-bunjt .footer-social-media a{
    aspect-ratio: 1/1;
    display: flex;
    font-size: 1.8em;
}

.footer-1 .footer-bunjt .footer-social-media a:hover{
    transform: translate(0, -1px);
}

.footer-2{
    height: 100%;
    padding: 50px 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media screen and (max-width: 900px) {
        width: 100%;
        padding: 20px 15px 50px 15px;
    }
}

.footer-2 .footer-haegd{
    display: flex;
    align-items: center;
    font-size: 2.5em;
    font-weight: 500;
}

.footer-2 .footer-haegd span{
    font-size: 1.35em;
    color: var(--color-5);
}

.footer-2 .footer-bzdvsd{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-2 .footer-bzdvsd div div{
    font-size: 1em;
    text-transform: uppercase;
    color: var(--color-5);
}

.footer-2 .footer-bzdvsd div a{
    font-size: 1.1em;
    border-bottom: 3px solid var(--color-3);
    padding: 4px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-2 .footer-bzdvsd div a span{
    width: 10px;
    font-size: 1.5em;
    color: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-2 .footer-bzdvsd div a:hover span{
    color: var(--color-6);
}

.footer-2 .footer-bzdvsd div a{
    position: relative;
}

.footer-2 .footer-bzdvsd div a::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--color-6);
    transition: all 0.3s ease;
}

.footer-2 .footer-bzdvsd div a:hover::before{
    width: 100%;
    transition: all 0.3s ease;
}

.footer .footer-bavfdz{
    padding: 40px 15px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-bavfdz .footer-mtfvm{
    font-size: 1.15em;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.footer .footer-bavfdz .footer-mtfvm .footer-link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer .footer-bavfdz .footer-mtfvm .footer-link::before{
    content: '•';
    color: var(--color-4);
    width: fit-content;
    font-size: 1.5em;
}

.footer .footer-bavfdz .footer-mtfvm .footer-link a:hover{
    transform: translate(0, -1px);
}

.footer .footer-bavfdz .footer-jpinf{
    font-size: 1em;
    color: var(--color-5);
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 0.9em;
}

.footer .footer-bavfdz .footer-jpinf div{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer .footer-bavfdz .footer-jpinf .footer-codeby{
    color: var(--color-5);
    font-size: 0.9em;
}

.footer .footer-bavfdz .footer-jpinf div span{
    font-size: 1.25em;
}

.footer .footer-bavfdz .footer-jpinf .footer-backtotop{
    cursor: pointer;
    user-select: none;
}
.footer .footer-bavfdz .footer-jpinf .footer-backtotop:hover{
    transform: translate(0, -2px);
}

@media screen and (max-width: 550px) {
    .footer{
        padding: 50px 10px 0;
    }

    .footer-1 .footer-hbezs .footer-nabzd .footer-nzbdxc{
        font-size: 1.5em;
    }

    .footer-1 .footer-hbezs .footer-nabzd .footer-nzbdf{
        font-size: 1em;
    }

    .footer-2 .footer-haegd{
        font-size: 1.65em;
    }

    .footer-2 .footer-bzdvsd div a{
        font-size: 0.95em;
    }
}

@media screen and (max-width: 425px) {
    .logo{
        font-size: 1.5rem;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer .footer-sbvfgv{
        border-bottom: none;
    }

    .footer .footer-bavfdz{
        flex-direction: column;
        gap: 30px;
        border-top: 1px solid var(--color-3);
    }

    .footer .footer-bavfdz .footer-mtfvm{
        flex-direction: column;
        gap: 10px;
        font-size: 1.2em;
    }

    .footer .footer-bavfdz .footer-jpinf{
        justify-content: space-between;
        font-size: 0.85em;
    }
}