@import url('primary.css');

.main{
    width: 100%;
    min-height: 100vh;
    padding: 65px 15px 15px;
    background: var(--bg-1);
}

.main textarea{
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    resize: none;
    overflow: hidden;
    background-color: var(--color-3);
}

.main textarea::placeholder{
    color: var(--color-5);
}

.main .main-b3qa{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    @media screen and (max-width: 575px) {
        justify-content: center;
        flex-direction: column;
    }
    @media screen and (max-width: 345px) {
        justify-content: end;
    }
}

.main .main-b3qa .main-nav{
    width: fit-content;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.main .main-b3qa .main-nav .main-nav-btn{
    padding: 7px 10px;
    font-size: 0.85em;
    border-radius: 5px;
    color: var(--color-7);
    cursor: pointer;
}

.main .main-b3qa .main-nav .main-nav-btn.main-nav-btn-active{
    background-color: var(--color-3);
    color: var(--color-9);
}

.main-oihdf{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 575px) {
        width: 100%;
        justify-content: end;
        position: relative;
    }
}

.main-lugjm{
    @media screen and (min-width: 575px) {
        position: relative;
    }
}

.main-nbrae{
    width: fit-content;
    padding: 7px 10px;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
}

.main-nbrae.main-nbrae-active{
    background-color: var(--color-3);
}

.main-nbrae:hover .main-bvsd{
    transform: translate(0, -1px);
}

.main-nbrae .main-bvsd{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 0.9em;
    color: var(--color-9);
}

.main-nbrae span{
    font-size: 1.15em;
    display: flex;
    color: var(--color-5);
}

.main-nbrae .main-bvsd div{
    @media screen and (max-width: 350px) {
        display: none;
    }
}

.main-hnjub{
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 250px;
    padding: 7px 8px;
    background-color: var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    z-index: 99;
    opacity: 0;
    display: none;
    @media screen and (max-width: 345px) {
        width: calc(100vw - 30px);
    }
}

.main-hnjub.main-hnjub-active{
    opacity: 1;
    display: flex;
}

.main-hnjub .main-mnfg{
    width: 100%;
    font-size: 0.9em;
    color: var(--color-7);
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-hnjub .main-mnfg span{
    font-size: 1.15em;
    color: var(--color-5);
}

.main-hnjub .main-hbkmy{
    width: 100%;
    background-color: var(--color-1);
    padding: 4px 5px;
    font-size: 0.85em;
    color: var(--color-6);
    white-space: nowrap;
    border-radius: 3px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: all;
}

.main-hnjub .main-nbdf{
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    padding: 3px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 4px;
    user-select: none;
    cursor: pointer;
}

.main-hnjub .main-nbdf:enabled:hover{
    background-color: var(--color-3);
}

.main-hnjub .main-nbdf span{
    font-size: 1.15em;
    color: var(--color-5);
}

.main-hnjub form{
    width: 100%;
}

.main-hnjub .main-tvbijn{
    width: 100%;
    font-size: 0.8em;
    background-color: var(--color-3);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-hnjub .main-tvbijn span{
    padding: 0 3px;
    font-size: 1.5em;
    color: var(--color-5);
}

.main-hnjub form button{
    width: 100%;
    margin-top: 5px;
    padding: 6px 10px;
    font-size: 0.9em;
    background-color: var(--color-1);
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.main-hnjub form button:hover{
    background-color: var(--color-3);
}

.main-hnjub form button span{
    font-size: 1.15em;
    color: var(--color-5);
}

/*main-b32wvs*/

.main-b32wvs{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-a2eD5{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-a2eD5 form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-a2eD5 .form-container{
    padding-bottom: 100px;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-info{
    width: 100%;
    padding: 10px;
    background-color: var(--color-1);
    border-radius: 7px;
    position: relative;
}

.form-info .form-info-close{
    position: absolute;
    right: 0;
    top: 0;
    aspect-ratio: 1/1;
    display: flex;
    cursor: pointer;
}

.form-info .form-info-close span{
    font-size: 1.2em;
    color: var(--color-5);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-info .form-info-close:hover span{
    color: var(--color-4);
}

.form-info ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-info ul li{
    font-size: 0.85em;
    color: var(--color-5);
}

.form-container .user-detail{
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.85em;
    color: var(--color-5);
    font-style: italic;
    font-weight: 300;
}

.form-container .user-detail span{
    background-color: var(--color-3);
    padding: 2px 5px;
    border-radius: 5px;
    color: var(--color-6);
    font-weight: 400;
}

.form-container .title-box, .form-container .content-box{
    width: 100%;
    padding: 15px;
    background-color: var(--color-2);
    box-shadow: var(--box-shadow-1);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-container .title-box, .form-container .content-box{
    gap: 10px;
}

.form-title{
    font-size: 1.75em;
    @media screen and (max-width: 425px) {
        font-size: 1.3em;
    }
}

.form-description{
    background-color: transparent;
    font-size: 0.9em;
    color: var(--color-7);
}

.question{
    font-size: 0.95em;
}

.question span{
    color: var(--color-5);
}

.answer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer-section .option{
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-3);
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;
}

.answer-section .option *{
    cursor: pointer;
}

.answer-section .option input[type='radio'], .answer-section .option input[type='checkbox'] {
    margin: 6px 0 6px 10px;
    width: 15px;
    height: 15px;
    outline: none;
    accent-color: var(--color-2);
}

.answer-section .option label{
    padding: 6px 10px 6px 0;
    width: calc(100% - 15px);
    font-size: 0.9em;
}

.content-clear-selection{
    width: 100%;
    display: flex;
    justify-content: end;
}

.content-clear-selection .clear-selection{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    color: var(--color-7);
    cursor: pointer;
}

.content-clear-selection .clear-selection:hover{
    color: var(--color-5);
}

.submit-btn-box{
    width: 100%;
    display: flex;
    justify-content: end;
}

.submit-btn-box .submit-btn{
    width: 50%;
    background-color: var(--color-1);
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
    @media screen and (max-width: 500px) {
        width: 100%;
    }
}

.submit-btn-box .submit-btn:disabled{
    background-color: var(--color-3);
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-btn-box .submit-btn:hover{
    background-color: var(--color-3);
}

.main-feszs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.main-feszs .main-bwszv{
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-lbnkd{
    background-color: var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main-lbnkd .main-vnses{
    font-size: 1.25em;
    @media screen and (max-width: 425px) {
        font-size: 1em;
    }
}

.main-lbnkd .main-fwa2q{
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        font-size: 0.8em;
    }
}

.main-lbnkd .main-fwa2q span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    color: var(--color-5);
}

.main-lbnkd .main-fwa2q:hover{
    transform: translate(0, -1px);
}

.main-ibln{
    background-color: var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    padding: 10px 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.main-ibln .main-svxnj{
    font-size: 1.25em;
    @media screen and (max-width: 425px) {
        font-size: 1em;
    }
}

.main-ibln .main-zbnd{
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-ibln .main-zbnd button{
    background-color: transparent;
    border: none;
    padding: 7px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
}

.main-ibln .main-zbnd button span{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-ibln .main-zbnd button:hover{
    @media screen and (min-width: 426px) {
        background-color: var(--color-3);
    }
}

.main-ibln .main-zbnd button:active{
    @media screen and (max-width: 425px) {
        background-color: var(--color-3);
    }
}

.main-ibln .main-zbnd button:disabled{
    background-color: transparent;
    cursor: default;
}

.main-ibln .main-zbnd button:disabled span{
    color: var(--color-4);
}

.main-vbazv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-vbazv .main-vwsds{
    padding: 10px;
    min-height: 200px;
    background-color: var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-vbazv .main-vwsds span{
    color: var(--color-5);
    font-size: 0.9em;
}

.main-vbazv .main-vwsds button{
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    color: var(--color-7);
    font-weight: 500;
    cursor: pointer;
}

.main-vbazv .response-box{
    border: 3px solid var(--color-2);
    border-radius: 7px;
    box-shadow: var(--box-shadow-1);
    display: none;
}

.main-vbazv .response-box.response-box-active{
    display: block;
}

.response-box .response-header{
    padding: 8px 13px;
    background-color: var(--color-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    @media screen and (max-width: 450px) {
        gap: 5px;
    }
}

.response-box .response-header .rh-sbxv, .response-box .response-header .rh-ktjg{
    font-size: 0.9em;
    color: var(--color-6);
}

.response-box .response-header .rh-ktjg{
    font-style: italic;
    font-size: 0.85em;
}

.response-box .rh-wbazv{
    padding: 10px;
    border-radius: 7px;
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.response-box .rh-wbazv .rh-Vzdxs{
    border-radius: 7px;
    background-color: var(--color-2);
}

.response-box .rh-wbazv .rh-Vzdxs hr{
    border: 1px solid var(--color-3);
}

.response-box .rh-wbazv .rh-Vzdxs .rh-question, .response-box .rh-wbazv .rh-Vzdxs .rh-answer{
    padding: 6px 10px;
    font-size: 0.9em;
}